@charset "UTF-8";

h2 {
	background: #d2e4d4 url(images/bg-title.gif) repeat-x 0 0;
	border-bottom: 2px ridge #fff;
	padding: 11px 10px 5px;
	line-height: 1em;
	margin-bottom: 50px;
}

h3 {
	background: #f5f5f5;
	border: 1px solid #ddd;
	padding: 10px 5px;
	line-height: 1em;
}

h3::before {
	content: "";
	border-left: 5px solid #16651e;
	margin: 0 7px 0 0;
	padding: 3px 0;
}