body{
   background-color: cornflowerblue;
   color: white;
   font-family: fantasy;
   background-image: url(title.jpg); 
   background-repeat: repeat-x;
}
h1{
   font-size: 2em;
   font-family: fantasy;
}
nav{
   float: left;
}

#content{
   float: right;
}

footer{
   clear: both;
}
