@charset "UTF-8";

:root { font-size: 15px;}
div { margin: 5em;}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

.hm-Content_Button {
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 1.1rem;
	line-height: 1.1;
	background-color: #257a01;
	border: 1px solid #1b5901;
	margin: 0 auto;
	padding: 2rem 0;
	text-align: center;
	border-radius: 0.2rem;
}

.hm-Content_Button:hover {
	display: block;
	color: #ffffff;
	background-color: #1b5901;
	border: 1px solid #1b5901;
}